[submodule "godot"]
	path = godot
	url = https://github.com/godotengine/godot
[submodule "modules/platformer_pathfinding"]
	path = modules/platformer_pathfinding
	url = https://github.com/Lucrecious/platformer_pathfinding
